.container {
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 30px;
    font-size: 20px;
}

.toggle-container {
    display: grid;
    grid-template-columns: auto auto;
}

.logo {
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
    transition: transform .5s ease;
    transform: rotate(0deg);
}

.logo:hover {
    transform: rotate(360deg);
}

.nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
    justify-content: start;
    gap: 30px;
}

.icon {
    margin-right: 50px;
}

.icon ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
    justify-content: end;
    gap: 30px;
}

.nav ul li:hover .underline, .icon ul li:hover .underline {
    width: 100%;
}

.icon ul li:hover {
    cursor: pointer;
}

.underline {
    background-color: #C0392B;
    width: 0%;
    height: 3px;
    transition: width .5s ease;
}

a:link {
    text-decoration: none;
    color: #F9EBEA;
}

.toggle {
    display: none;
}

/* ----------------------------------------------------------------------------*/

@media (max-width: 992px) {
    .container {
        position: fixed;
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        justify-content: start;
        align-items: center;
        gap: 0;
        margin-top: 30px;
        font-size: 20px;
        z-index: 999;
    }

    .toggle {
        display: grid;
        justify-content: end;
        margin-right: 50px;
        transition: color .5s ease;
    }

    .toggle:hover {
        cursor: pointer;
        color: #C0392B;
    }

    .xmark {
        z-index: 10;
        color: #17202A;
        z-index: 999;
    }
    
    .logo {
        margin-left: 50px;
        height: 50px;
        width: 50px;
        object-fit: cover;
        transition: transform .5s ease;
        transform: rotate(0deg);
    }
    
    .logo:hover {
        transform: rotate(360deg);
    }

    .toggle-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 0%;
        top: 0;
        right: 0;
        background-color: #F9EBEA;
        height: 100%;
        justify-content: center;
        transition: width .5s ease;
        overflow: hidden;
        gap: 100px;
    }

    .toggle-container.toggle-containered {
        width: 70%;
        
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        list-style-type: none;
        justify-content: start;
        align-items: center;
        gap: 20px;
    }

    .icon {
        width: 100%;
    }

    .icon ul {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        list-style-type: none;
        justify-content: end;
        gap: 20px;
        align-items: center;
    }
    
    .icon ul li:hover {
        cursor: pointer;
    }
    
    .underline {
        background-color: #C0392B;
        width: 0%;
        height: 3px;
        transition: width .5s ease;
        display: none;
    }
    
    a:link {
        text-decoration: none;
        color: #17202A;
    }
}


@media (max-width: 600px) {
    .toggle {
        margin-right: 30px;
    }
    
    .logo {
        margin-left: 30px;
    }
}